/* Global CSS */
section {
  padding: 100px 0;
}
img {
  max-width: 100%;
  object-fit: cover;
  vertical-align: middle;
}
.menu-link {
  text-decoration: none;
  margin-right: 15px;
  color: #757575;
}
.success {
  color: #2e7d32;
}
.error {
  color: #d33;
}
